**/.DS_Store
/laskarit/viikko2/Maksukortti/target/
/laskarit/viikko2/Maksukortti/nbproject/
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
/billsplitter/target/
/billsplitter/nbproject/
